doctype html
html
    head
        style
            include style.css
    body
        div.header
            h3 NODE.JS
        div.content
            block content
        div.footer
            h5 created 2021

