extends  container
block content
    h4 Very sorry, #{userName}
    p Your account has just been deleted. We are always glad to see you again
    img( src='https://thumbs.dreamstime.com/z/word-goodbye-handwritten-whiteboard-goodbye-167996758.jpg' alt='bye' )
